<div class="card shadow"><div class="card-body">
<h5 class="text-center mb-4">Panel Vendedor</h5>
<div class="list-group">
    <a href="{{ url_for('seller.dashboard') }}" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="{{ url_for('seller.properties') }}" class="list-group-item list-group-item-action">Mis Propiedades</a>
    <a href="{{ url_for('seller.create_property') }}" class="list-group-item list-group-item-action">Nueva Propiedad</a>
    <a href="{{ url_for('seller.messages') }}" class="list-group-item list-group-item-action">Mensajes</a>
</div></div></div>