{% extends "base.html" %}
{% block title %}Dashboard - Vendedor{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-2">{% include 'seller/_sidebar.html' %}</div>
        <div class="col-md-10">
            <h2>Dashboard</h2>
            <div class="row">
                <div class="col-md-4"><div class="card text-white bg-primary"><div class="card-body"><h5>Total</h5><h3>{{ total_properties }}</h3></div></div></div>
                <div class="col-md-4"><div class="card text-white bg-success"><div class="card-body"><h5>Disponibles</h5><h3>{{ available_properties }}</h3></div></div></div>
                <div class="col-md-4"><div class="card text-white bg-warning"><div class="card-body"><h5>Vendidas</h5><h3>{{ sold_properties }}</h3></div></div></div>
            </div>
            <h5 class="mt-4">Últimas propiedades</h5>
            <ul class="list-group">{% for p in recent_properties %}<li class="list-group-item">{{ p.title }} - {{ p.status }}</li>{% endfor %}</ul>
        </div>
    </div>
</div>
{% endblock %}