{% extends "base.html" %}
{% block title %}Editar Propiedad{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Propiedad</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
            <div class="col-md-6">{{ form.price.label }} {{ form.price(class="form-control") }}</div>
            <div class="col-md-6">{{ form.currency.label }} {{ form.currency(class="form-select") }}</div>
            <div class="col-md-6">{{ form.property_type.label }} {{ form.property_type(class="form-select") }}</div>
            <div class="col-md-6">{{ form.status.label }} {{ form.status(class="form-select") }}</div>
            <div class="col-md-6">{{ form.province.label }} {{ form.province(class="form-select") }}</div>
            <div class="col-md-6">{{ form.city.label }} {{ form.city(class="form-control") }}</div>
            <div class="col-12">{{ form.description.label }} {{ form.description(class="form-control", rows=4) }}</div>
            <div class="col-md-4">{{ form.bedrooms.label }} {{ form.bedrooms(class="form-control") }}</div>
            <div class="col-md-4">{{ form.bathrooms.label }} {{ form.bathrooms(class="form-control") }}</div>
            <div class="col-md-4">{{ form.area.label }} {{ form.area(class="form-control") }}</div>
            <div class="col-md-6">{{ form.main_image.label }} {{ form.main_image(class="form-control") }}</div>
            <div class="col-md-6">{{ form.additional_images.label }} {{ form.additional_images(class="form-control") }}</div>
            <div class="col-12 mt-2">
                <div class="form-check form-switch">{{ form.has_garage(class="form-check-input") }} {{ form.has_garage.label }}</div>
                <div class="form-check form-switch">{{ form.has_pool(class="form-check-input") }} {{ form.has_pool.label }}</div>
                <div class="form-check form-switch">{{ form.has_garden(class="form-check-input") }} {{ form.has_garden.label }}</div>
                <div class="form-check form-switch">{{ form.has_terrace(class="form-check-input") }} {{ form.has_terrace.label }}</div>
                <div class="form-check form-switch">{{ form.has_ac(class="form-check-input") }} {{ form.has_ac.label }}</div>
                <div class="form-check form-switch">{{ form.furnished(class="form-check-input") }} {{ form.furnished.label }}</div>
            </div>
            <div class="col-12"><button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button></div>
        </div>
    </form>
</div>
{% endblock %}