{% extends "base.html" %}
{% block title %}Mensajes - Vendedor{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-2">{% include 'seller/_sidebar.html' %}</div>
        <div class="col-md-10">
            <h2>Mensajes</h2>
            <ul class="list-group">{% for m in messages.items %}<li class="list-group-item"><strong>{{ m.sender_name }}</strong> ({{ m.sender_email }}) - {{ m.message[:100] }}</li>{% endfor %}</ul>
        </div>
    </div>
</div>
{% endblock %}