{% extends "base.html" %}
{% block title %}Acerca de MyHouseinCuban{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Acerca de MyHouseinCuban</h2>
            <p class="lead">Somos la plataforma líder en Cuba para la compra y venta de propiedades.</p>
            <p>Conectamos a vendedores y compradores de manera fácil, segura y transparente. Nuestro objetivo es facilitar el acceso a la vivienda en toda la isla, ofreciendo una amplia variedad de propiedades en todas las provincias.</p>
            <p>Fundada en 2024, MyHouseinCuban nace con la misión de digitalizar el mercado inmobiliario cubano.</p>
        </div>
    </div>
</div>
{% endblock %}